calender_event.json
{
  "name": "calender event",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        -80
      ],
      "id": "2cb70bf9-5dcf-4e08-ae05-6b50ded2a2c0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a smart Calendar Assistant who is good at making decision and ask only important questions with full access to view, create, update, and delete calendar events. \n\n🧠 Handle ambiguity by asking for clarification question.\n\n🛠 Tools:\n- Get Events\n- Create Event\n- Update Event\n- Delete Event"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        180,
        -80
      ],
      "id": "1f13f28b-74cc-4b26-ba66-75a1cad3fa88",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use this tool to create an calendar event ",
        "calendar": {
          "__rl": true,
          "value": "aryanpasreja@gmail.com",
          "mode": "list",
          "cachedResultName": "aryanpasreja@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        140,
        140
      ],
      "id": "9fbe4bf9-0c74-408e-8b33-ee6595c1b570",
      "name": "create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zIpKgjwGu5DkYwHb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "aryanpasreja@gmail.com",
          "mode": "list",
          "cachedResultName": "aryanpasreja@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        260,
        140
      ],
      "id": "9ec9cf1a-ebf7-4ee8-b41a-61390e6c2eec",
      "name": "delete",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zIpKgjwGu5DkYwHb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use this when user wants to get details about calender events ",
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "aryanpasreja@gmail.com",
          "mode": "list",
          "cachedResultName": "aryanpasreja@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        380,
        140
      ],
      "id": "6c4c50f3-2284-464b-a80c-ce9d3ee02758",
      "name": "get",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zIpKgjwGu5DkYwHb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "aryanpasreja@gmail.com",
          "mode": "list",
          "cachedResultName": "aryanpasreja@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        500,
        140
      ],
      "id": "f257e640-fa71-4037-8416-91fe055a3a6a",
      "name": "update",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zIpKgjwGu5DkYwHb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        20,
        140
      ],
      "id": "7aaa3a60-53e6-4cf9-8eee-bf95d23d3932",
      "name": "model",
      "credentials": {
        "googlePalmApi": {
          "id": "exekbmGnCOnCRN2H",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b109b9ca-659c-417f-be4d-3a151f9bbdcf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7eae5956f7904ecf21cd7eb1cb0b73f227c1ddcc62aae513ab9cb632e87fed46"
  },
  "id": "R8ZL861dye5oQasD",
  "tags": []
}